body {
    font-size: 18px;
    padding: 1rem;
    font-family: Arial;
}

.videos-list {
    max-width: 600px;
}

.video {
    display: flex;
    align-items: center;
    height: 180px;
    margin-bottom: 1rem;
}

.video .title {
    margin: 0 0 0.5rem 0;
}

.video img {
    width: 300px;
    float: left;
    margin-right: 1rem;
}

.video-metas {
    display: flex;
    width: 300px;
}

.video-metas .duration {
    flex: 1 0 0;
}

.video-metas .views {
    flex: 1 0 0;
}
